.ipynb_checkpoints/*
__pycache__/*
outputs/*
validation_results/*
bench_results/*
*.png
error.log
.vscode
*.csv
runs_pretraining/*
dataset_similarity/*
original/*
optimized/*
data_processing/*
ResultsZXGraph*
